{% extends 'base.html.twig' %}

{% block body %}

    <h1>Détail de la course</h1>
    <p>Type de course : {{ ride.rideType.name }}</p>
    <p>Début : {{ ride.startAt|date("d/m/Y H:i:s") }}</p>
    <p>Description : {{ ride.description }}</p>
    <p>Durée : {{ ride.duration }} minutes</p>
    <p>Distance : {{ ride.distance }}m</p>
    <p>Vitesse moyenne : {{ (ride.distance / 1000) / (ride.duration / 60) }} km/h</p>
    <p>Allure moyenne : {{ ride.duration / (ride.distance / 1000) }} min/km</p>
    <p>Auteur : {{ ride.author.email }}</p>

{% endblock %}
