{% extends 'base.html.twig' %}

{% block body %}

    <table class="table">
        <thead>
            <th>Type de course</th>
            <th>Début</th>
            <th>Description</th>
            <th>Durée</th>
            <th>Distance</th>
            <th>Vitesse moyenne</th>
            <th>Allure moyenne</th>
            <th>Auteur</th>
        </thead>
        <tbody>
        {% for ride in rides %}
            <tr>
                <td>{{ ride.rideType.name }}</td>
                <td>{{ ride.startAt }}</td>
                <td>{{ ride.description }}</td>
                <td>{{ ride.duration }} minutes</td>
                <td>{{ ride.distance }}m</td>
                <td>{{ (ride.distance / 1000) / (ride.duration / 60) }} km/h</td>
                <td>{{ ride.duration / (ride.distance / 1000) }} min/km</td>
                <td>{{ ride.author.email }}</td>
                <td><a href="{{ relative_path(path('app_rides_detail', {'rideId': ride.id})) }}" class="btn btn-primary">Détail</a></td>
                {% if app.user and ride.author.email == app.user.email %}
                <td><a href="{{ relative_path(path('app_rides_edit', {'rideId': ride.id})) }}" class="btn btn-primary">Modifier</a></td>
                {% else %}
                <td></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
