<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Ride Running</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ relative_path(path('app_rides_list')) }}">Dernières Courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ relative_path(path('app_rides_list_user', {'userId': app.user.id})) }}">Mes courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ relative_path(path('app_rides_add')) }}">Ajouter une course</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ relative_path(path('app_logout')) }}">Deconnexion</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ relative_path(path('app_login')) }}">Connexion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ relative_path(path('app_register')) }}">Inscription</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
